<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.ViFinance" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>ViFinance</name>
    <description>Sample Apache Cordova App</description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

    <!-- App Icons (point to Android res folders for generation and runtime) -->
    <icon src="platforms/android/app/src/main/res/mipmap-mdpi/ic_launcher.png" density="mdpi" />
    <icon src="platforms/android/app/src/main/res/mipmap-hdpi/ic_launcher.png" density="hdpi" />
    <icon src="platforms/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png" density="xhdpi" />
    <icon src="platforms/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png" density="xxhdpi" />
    <icon src="platforms/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png" density="xxxhdpi" />

    <!-- Cordova fallback icons for browser/dev -->
    <icon src="../public/res/icon/icon-48x48.png" width="48" height="48" />
    <icon src="../public/res/icon/icon-72x72.png" width="72" height="72" />
    <icon src="../public/res/icon/icon-96x96.png" width="96" height="96" />
    <icon src="../public/res/icon/icon-144x144.png" width="144" height="144" />
    <icon src="../public/res/icon/icon-192x192.png" width="192" height="192" />
    <icon src="../public/res/icon/icon-512x512.png" width="512" height="512" />

    <!-- Splash Screens -->
    <preference name="AndroidWindowSplashScreenAnimatedIcon" value="platforms/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png" />
    <preference name="SplashScreen" value="platforms/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png" />
    <preference name="SplashScreenBackgroundColor" value="#ffffff" />
    <preference name="ShowSplashScreen" value="true" />
    <preference name="AutoHideSplashScreen" value="true" />
</widget>
