<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.ViFinance" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>ViFinance</name>
    <description>Sample Apache Cordova App</description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

    <!-- App Icons (all point to ViFinance.svg) -->
    <icon src="../public/ViFinance.svg" width="48" height="48" />
    <icon src="../public/ViFinance.svg" width="72" height="72" />
    <icon src="../public/ViFinance.svg" width="96" height="96" />
    <icon src="../public/ViFinance.svg" width="144" height="144" />
    <icon src="../public/ViFinance.svg" width="192" height="192" />
    <icon src="../public/ViFinance.svg" width="512" height="512" />

    <!-- Splash Screens (use ViFinance.svg for splash as well) -->
    <preference name="AndroidWindowSplashScreenAnimatedIcon" value="../public/ViFinance.svg" />
    <preference name="SplashScreen" value="../public/ViFinance.svg" />
    <preference name="SplashScreenBackgroundColor" value="#ffffff" />
    <preference name="ShowSplashScreen" value="true" />
    <preference name="AutoHideSplashScreen" value="true" />
</widget>
