<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.ViFinance" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>ViFinance</name>
    <description>Sample Apache Cordova App</description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

    <!-- App Icons (point to res/icon for Cordova compatibility) -->
    <icon src="res/icon/icon-48x48.png" width="48" height="48" />
    <icon src="res/icon/icon-72x72.png" width="72" height="72" />
    <icon src="res/icon/icon-96x96.png" width="96" height="96" />
    <icon src="res/icon/icon-144x144.png" width="144" height="144" />
    <icon src="res/icon/icon-192x192.png" width="192" height="192" />
    <icon src="res/icon/icon-512x512.png" width="512" height="512" />

    <!-- Splash Screens (point to public/res/screen for Vite/Cordova compatibility) -->
    <splash src="../public/res/screen/splash-1024x1024.png" width="1024" height="1024" />
</widget>
